.git
*.py[cod]
__pycache__/
.idea/
.python-version
.DS_Store
logs
.pytest_cache
.vscode/
output.txt
dags/dbt/.dbt/.user.yml
dags/dbt/.dbt/profiles.yml
dags/.airflowignore
dags/exampledag.py
.astro/
_Dockerfile
test_scripts
target/
dbt_modules/
dbt_packages/
logs/
.DS_Store
venv/
.idea/
package-lock.yml
.astro/config.yaml
